@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.diagonal-pattern {
  background-color: transparent;
  background: repeating-linear-gradient(
    -45deg,
    #000000,
    #000000 4px,
    transparent 4px,
    transparent 10px
  );
}

@media (prefers-color-scheme: dark) {
  .diagonal-pattern {
    background: repeating-linear-gradient(
      -45deg,
      #ffffff,
      #ffffff 4px,
      transparent 4px,
      transparent 10px
    );
  }
}